main, main > * {
    background-color: #ffeff2;
    color: #a711bb;
}

main > p {
    font-size: larger;
    text-align: justify;
    text-indent: 20px;
}

main > h2 {
    font-size: xx-large;
    text-align: center;
}

main aside > * {
    transition: 1s;
}
main aside > *:hover {
    border: solid 1px;
    box-shadow: 2px 2px;
}

main div {
    width: 90%;
}

p {
    font-size: larger;
}