main {

    display: grid;
    grid-template-columns: 22% 78%;
    grid-template-rows: 15% 20% 65%;
    grid-template-areas: "aside h2"
                         "aside p"
                         "aside div";
}

main h2 {
    grid-area: h2;
    width: 90%;
    justify-self: center;
}

main p {
    grid-area: p;
    width: 90%;
    justify-self: center;
    
}

main aside {
    grid-area: aside;
}

main aside > img {
    width: 150px;
    height: 150px;
}

main div {
    grid-area: div;
    width: 90%;
    justify-self: center;
}

